{% extends 'core.views/generics/widget.xml' %}

{% block content %}
    <frame pos="0 0" size="{{size_x}} {{size_y}}">
        <quad pos="0 0" size="{{size_x}} {{size_y}}" z-index="0" bgcolor="10101070"/>
            <label pos="33 -2" z-index="1" text="Random Map Survival" textsize="3.5" textfont="RajdhaniMono" halign="center" />
    </frame>
    <label pos="70 -2.5" z-index="1" text="$sPlayer Configs" textsize="2.5" textfont="RajdhaniMono"
            halign="left" valign="center" style="CardButtonSmallS"
            id="rmt_start_btn" scriptevents="1" action="{{ id }}__ui_display_player_settings" />
    <label pos="70 -10" z-index="1" text="$sLeaderboard" textsize="2.5" textfont="RajdhaniMono"
            halign="left" valign="center" style="CardButtonSmallS"
            id="rmt_start_btn" scriptevents="1" action="{{ id }}__ui_display_leaderboard" />

    <frame pos="0 -{{size_y}}" size="{{size_x}} 60">
        <quad pos="0 0" size="{{size_x}} 60" z-index="0" bgcolor="44664770"/>

        <label pos="0.6 -3" size="14 5" z-index="1" text="$sMap Generator:" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center"/>
        <label pos="15 -3" z-index="1" text="{% if config.map_generator.map_generator_type.value == 'RANDOM' %}$000{% endif %}Random" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center" style="CardButtonSmallXS" scriptevents="1" action="{{ id }}__ui_set_map_generator_random"/>
        <label pos="27 -3" z-index="1" text="{% if config.map_generator.map_generator_type.value == 'TOTD' %}$000{% endif %}TOTD" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center" style="CardButtonSmallXS" scriptevents="1" action="{{ id }}__ui_set_map_generator_totd"/>
        <label pos="39 -3" z-index="1" text="{% if config.map_generator.map_generator_type.value == 'CUSTOM' %}$000{% endif %}Custom" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center" style="CardButtonSmallXS" scriptevents="1" action="{{ id }}__ui_set_map_generator_map_pack"/>

        <label pos="0.6 -10.4" size="14 5" z-index="1" text="$sTime Limit:" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center"/>
        <label pos="15 -10.4" z-index="1" textsize="2.5" size="10.6 5.2" textfont="RajdhaniMono" halign="left" valign="center" text="{{ config.game_time_seconds }}" style="CardButtonSmallXS" scriptevents="1" action="{{ id }}__ui_set_game_time_seconds"/>

        <label pos="0.6 -17.8" size="14 5" z-index="1" text="$sSkip Penalty:" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center"/>
        <label pos="15 -17.8" z-index="1" textsize="2.5" size="10.6 5.2" textfont="RajdhaniMono" style="CardButtonSmallXS" halign="left" valign="center" text="{{ config.skip_penalty_seconds }}" scriptevents="1" action="{{ id }}__ui_set_skip_penalty_seconds"/>

        <label pos="0.6 -25.2" size="14 5" z-index="1" text="$sGoal Bonus:" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center"/>
        <label pos="15 -25.2" z-index="1" textsize="2.5" size="10.6 5.2" textfont="RajdhaniMono" style="CardButtonSmallXS" halign="left" valign="center" text="{{ config.goal_bonus_seconds }}" scriptevents="1" action="{{ id }}__ui_set_goal_bonus_seconds"/>

        <label pos="0.6 -32.6" size="14 5" z-index="1" text="$sGoal Medal:" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center"/>
        <label pos="15 -32.6" z-index="1" text="{% if config.goal_medal.name == 'AUTHOR' %}$000{% endif %}Author" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center" style="CardButtonSmallXS" scriptevents="1" action="{{ id }}__ui_set_goal_medal_author"/>
        <label pos="27 -32.6" z-index="1" text="{% if config.goal_medal.name == 'GOLD' %}$000{% endif %}Gold" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center" style="CardButtonSmallXS" scriptevents="1" action="{{ id }}__ui_set_goal_medal_gold"/>
        <label pos="39 -32.6" z-index="1" text="{% if config.goal_medal.name == 'SILVER' %}$000{% endif %}Silver" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center" style="CardButtonSmallXS" scriptevents="1" action="{{ id }}__ui_set_goal_medal_silver"/>

        <label pos="0.6 -40" size="14 5" z-index="1" text="$sSkip Medal:" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center"/>
        <label pos="15 -40" z-index="1" text="{% if config.skip_medal.name == 'GOLD' %}$000{% endif %}Gold" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center" style="CardButtonSmallXS" scriptevents="1" action="{{ id }}__ui_set_skip_medal_gold"/>
        <label pos="27 -40" z-index="1" text="{% if config.skip_medal.name == 'SILVER' %}$000{% endif %}Silver" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center" style="CardButtonSmallXS" scriptevents="1" action="{{ id }}__ui_set_skip_medal_silver"/>
        <label pos="39 -40" z-index="1" text="{% if config.skip_medal.name == 'BRONZE' %}$000{% endif %}Bronze" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center" style="CardButtonSmallXS" scriptevents="1" action="{{ id }}__ui_set_skip_medal_bronze"/>

        <label pos="{{cbl_pos(3.5)}}" size="{{size_x * 0.7}} 5" z-index="1" text="$sPlayers enabled by default" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center" scriptevents="1" action="{{ id }}__ui_toggle_enabled_players"/>
        <quad pos="{{cb_pos(3.5)}}" z-index="1" size="6 6" halign="left" valign="center" style="Icons64x64_1" substyle="Check" styleselected="{{ config.enabled | int }}" scriptevents="1" action="{{ id }}__ui_toggle_enabled_players"/>

        <label pos="{{cbl_pos(4.5)}}" size="{{size_x * 0.7}} 5" z-index="1" text="$sAllow Pausing" textsize="2.5" textfont="RajdhaniMono" halign="left" valign="center" scriptevents="1" action="{{ id }}__ui_toggle_allow_pausing"/>
        <quad pos="{{cb_pos(4.5)}}" z-index="1" size="6 6" halign="left" valign="center" style="Icons64x64_1" substyle="Check" styleselected="{{ config.allow_pausing | int }}" scriptevents="1" action="{{ id }}__ui_toggle_allow_pausing"/>

        <label pos="1 -57" size="30 5" z-index="1" text="$sStart" textsize="2.5" textfont="RajdhaniMono"
            halign="left" valign="center" style="CardButtonSmall" scriptevents="1" action="{{ id }}__ui_start" />
    </frame>
{% endblock %}
